@model IEnumerable<AutoServis.Models.Marka>

<div class="table-responsive">
    <h2>Marke vozila</h2>
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>
                    Naziv
                </th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nazvi)
                    </td>
                    <td>
                        <a atribut="@item.MarkaId" style="color:white" class="btn btn-primary btn-xs btnIzmijeni">Izmjeni</a>
                        <a atribut="@item.MarkaId" url="/MenadžerAutomobila/DeleteMarka3?id=" style="color:white" class="btn btn-primary btn-xs Obrisi">Obriši</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



<script>
    $(".btnIzmijeni").click(function (event) {

        var btn = $(this);
        var id = btn.attr("atribut");

        $.get("/MenadžerAutomobila/EditMarka?id=" + id,
            function (rez, status) {
                $("#samko").html(rez);
            });

    });

    $(".Obrisi").click(function (event) {

        var btn = $(this);
        var id = btn.attr("atribut");
        $.ajax({
            type: 'GET',
            url: $(this).attr('url') + id,
            contentType: 'json',
            success: function (data) {
                bootbox.alert("<b>Uspješno ste obrisali zapis!<b>");
               
                $.get("/MenadžerAutomobila/IndexMarka",
                    function (rez, status) {

                        $("#samko").html(rez);

                    }
                );

            },
            error: function (bezze) {
              
                $.get("/MenadžerAutomobila/ERROR",
                    function (rez, status) {

                        $("#samko").html(rez);

                    }
                );
            }
            });
    });


        
       

    

</script>