<h1>
    @ViewBag.CheckoutCompleteMessage
</h1>

<script>
    $(document).ready(function () {
        setTimeout(function () {
            window.location.replace('/Home/Index');
        }, 3000);
    })
</script>