<div style="height: 90px; display: table; width: 100%; margin-left:8%;margin-top:20px">
    <div class="row">
        <div class="button_newsletter col-md-3">
            <div style="float: left;font-size: 27px;color: #ccc;margin: 0px;border-radius: 60px;border: 7px solid #2E74AE;text-align: center;width: 56px;height: 56px;overflow: hidden;line-height: 36px;padding-left: 1px;margin-right: 10px;margin-top: 3px;"><i class="fa fa-phone" aria-hidden="true" style="margin-top:10px;color:#2E74AE"></i></div>
            <div style="float: left;">
                <b style="font-family: 'Montserrat';text-transform: uppercase;color: #333;">Kontaktirajte nas</b><br>
                Tel: + 387 3* *** 000<br>Viber: + 387 63 *** 000
            </div>
        </div>
        <div class="button_newsletter col-md-3">
            <div style="float: left;font-size: 57px;padding-right: 10px;color: #ccc;width: 66px;height: 66px;line-height: 56px;"><i class="fa fa-clock-o " aria-hidden="true" style="color:#2E74AE"></i></div>
            <div style="float: left;">
                <b style="font-family: 'Montserrat';text-transform: uppercase;color: #333;">Radno vrijeme</b><br>
                Pon - Pet 08:30 - 19:00 sati<br>Sub 08:30 - 16:30 sati
            </div>
        </div>
        <div class="button_newsletter col-md-3">
            <div style="float: left;font-size: 57px;color: #2E74AE;width: 66px;height: 66px;line-height: 56px;"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
            <div style="float: left;"><b style="font-family: 'Montserrat';text-transform: uppercase;color: #333;">Adresa</b><br> Osmana Grebe 5. <br>Mostar, BiH</div>
        </div>
        <div class="button_newsletter col-md-3" style="height:120px;margin-top:5px">
            <a class="logoo" href="#"><img src="~/lib/logo/logo-novi.png" alt="logo" style="height:80px;"></a>
        </div>

    </div>
</div>