@model AutoServis.Models.VrstaUposlenika

@{
    Layout = null;
}

<h3>Izmjena</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="VrstaUposlenika" asp-area="" style="box-shadow: 0 4px 8px rgba(0,0,0,.08)">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sačuvaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

