@model AutoServis.Models.DioKategorija

<hr />
<div class="modal-header">
    <h3 class="modal-title" id="exampleModalLongTitle">Dodavanje kategorije</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form asp-controller="DioKategorija" asp-action="Create">
    <div class="container-fluid">
        <div class="form-group">
            <label asp-for="Naziv" class="control-label"></label>
            <input asp-for="Naziv" required placeholder="Unesi naziv"
                   oninvalid="this.setCustomValidity('Naziv je obavezan!')"
                   oninput="this.setCustomValidity('')" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Slika" class="control-label"></label>
            <input type="file" id="files" asp-for="Slika" class="form-control" style="height:42px" />
            <span asp-validation-for="Slika" class="text-danger"></span>
        </div>
    </div>   
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
        <input type="submit" value="Snimi" class="btn btn-primary" />
    </div>
</form>