@model IEnumerable<AutoServis.Models.DioKategorija>

<center><h2>Kategorije dijelova</h2></center>

    
<div style="margin-left:2%">
    <a asp-controller="Order" asp-action="Index" class="btn btn-primary btn-sm">
        <span class="glyphicon glyphicon-arrow-left"></span>
    </a>
    <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#opcije" asp-action="Create" style="margin-left:2px" class="btn btn-primary btn-sm">
        <span class="glyphicon glyphicon-plus"></span>Dodaj
    </a>
    <ul class="form-inline">
        @foreach (var item in Model)
        {
            <li style="padding-left:50px">
                <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#opcije" asp-action="Edit" asp-route-id="@item.Id">
                    <center>
                        <span class="thumb">
                            @{
                                var base64 = Convert.ToBase64String(item.Slika);
                                var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                            }
                            <img src="@imgsrc" width="80" height="80" alt="@item.Naziv">
                        </span>
                    </center>
                    <h3>@item.Naziv</h3>
                </a>
            </li>
        }

    </ul>
    <br />
    <div id="opcije">

    </div>
</div>
