
@{
    ViewData["Title"] = "error403";
}


<div class="error-area ptb--100 text-center" style="margin-top:-100px">
    <div class="container">
        <div class="error-content">
            <h2>403</h2>
            <p>Vaš skup permisija ne dozvoljava da izvršite akciju brisanja nad ovim zapisom, za više informacija obratite se Administratoru.</p>          
        </div>
    </div>
</div>

<script>
  
</script>
