@model AutoServis.Models.Marka

<h2>Dodavanje</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Nazvi" class="control-label"></label>
                <input asp-for="Nazvi" required placeholder="Unesi naziv" 
                                       oninvalid="this.setCustomValidity('Naziv je obavezan!')"
                                       oninput="this.setCustomValidity('')" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Sačuvaj" class="btn btn-primary"/>
                <a asp-action="Index" class="btn btn-default">Nazad na listu</a>

            </div>
        </form>
    </div>
</div>