@model AutoServis.Models.Model

<h2>Dodavanje novog</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Dodaj">
            <table class="table table-bordered" style="box-shadow: 0 4px 8px rgba(0,0,0,.08)">
                <tr>
                    <td> <label asp-for="Naziv" class="control-label">Naziv Modela</label></td>
                    <td><input asp-for="Naziv" required placeholder="Unesi naziv" 
                                               oninvalid="this.setCustomValidity('Naziv je obavezan!')"
                                               oninput="this.setCustomValidity('')" class="form-control" /></td>
                </tr>
                <tr>
                    <td><label asp-for="MarkaID" class="control-label">Naziv Marke</label></td>
                    <td><select style="height:40px" asp-for="MarkaID" required
                                                                      oninvalid="this.setCustomValidity('Marka je obavezna!')"
                                                                      oninput="this.setCustomValidity('')" class="form-control" asp-items="ViewBag.MarkaID"><option></option></select></td>
                </tr>
            </table>
            <div class="form-group">
                <input type="submit" value="Sacuvaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

